# 常见目录
node_modules
dist

**/node_modules
**/dist

# 无关文件
*.md
**/*.md

# 隐藏文件
.DS_Store
.idea
.vscode

**/.DS_Store
**/.idea
**/.vscode

# 构建工具
package-lock.json
yarn.lock
pnpm-lock.yaml

**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*